body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.image-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-column img {
    width: 500px;
    border-radius: 10px;
}

.text {
    max-width: 400px;
    font-size: 18px;
}

.car-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.car-box {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: white;
    transition: 0.3s;
}

.car-box:hover {
    background: #ddd;
}

.car-box img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
